.footer {
  background-color: var(--bcg-color-second);
}

.footer__title {
  max-width: 250px;

  @media screen and (min-width: 768px) {
    max-width: 352px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 504px;
  }
}

.footer__title-part-one {
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  line-height: calc(22 / 18);

  color: var(--text-color-primary);

  margin-top: 60px;

  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: calc(32 / 26);

    margin-top: 40px;
  }

  @media screen and (min-width: 1200px) {
    font-weight: 400;
    font-size: 30px;
    line-height: calc(37 / 30);

    margin-top: 120px;
  }
}

.footer__title-part-two {
  font-weight: 700;
  font-size: 34px;
  line-height: calc(41 / 34);

  color: var(--text-color-primary);

  margin-top: 16px;

  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: calc(59 / 48);
    letter-spacing: 0.06em;

    margin-top: 8px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 58px;
    line-height: calc(71 / 58);

    margin-top: 14px;
  }
}

// -------------------заголовок та соціальні мережі з контактами
.footer__title-socials-contact {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
}

/* ------------------------------соціальні мережі та контакти */
.footer__socials-contact {
  @media screen and (max-width: 768px) {
    margin-top: 60px;
    margin-bottom: 40px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
  }
}

.footer__socials-list {
  display: flex;
  justify-content: end;
  gap: 20px;

  @media screen and (min-width: 768px) {
    gap: 30px;
  }
}

.footer__socials-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: var(--socials-icon-bcg-color);
  color: var(--socials-icon-color-default);
  transition: var(--animation-color);

  &:hover,
  &:focus {
    color: var(--socials-icon-color-accent);
  }
}

.footer__socials-icon {
  fill: currentColor;
}

/* -------------------------------телефон */
.footer__contact {
  font-weight: 700;
  font-size: 12px;
  line-height: calc(22 / 12);

  text-align: right;

  color: var(--text-color-second);

  margin-top: 20px;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: calc(26 / 14);
    margin-top: 34px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.02em;

    margin-top: 40px;
  }
}

.footer__contact-link {
  color: var(--text-color-primary);

  &:hover,
  &:focus {
    color: var(--text-color-accent);
  }
}
/* -----------------------------------копірайт */
.copyright {
  border-top: 1px solid #e1e1e1;

  padding: 20px 20px;

  @media screen and (min-width: 768px) {
    margin-top: 32px;
    padding: 12px 12px;
  }

  @media screen and (min-width: 1200) {
    margin-top: 60px;
  }
}

.copyright__text {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(21 / 14);

  letter-spacing: 0.02em;

  color: var(--text-color-footer);

  text-align: center;

  @media screen and (min-width: 768px) {
    line-height: calc(26 / 14);
  }

  @media screen and (min-width: 1200px) {
    font-size: 12px;
    line-height: calc(22 / 12);
  }
}

.br {
  @media (min-width: 768px) {
    display: none;
  }
}
