.header {
  background-color: var(--bcg-color-second);
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

      padding-top: 12px;
        padding-left: 20px;
        padding-right: 20px;

        @media screen and (min-width: 768px) {
            padding-top: 20px;
            padding-right: 32px;
          }

                     @media screen and (min-width: 1200px) {
                       padding-top: 8px;
                       padding-right: 16px;
                     }
  }
}

//  logo

.header__logo {
  width: 40px;
  height: 37px;

  @media screen and (min-width: 768px) {
    width: 48px;
    height: 44px;
  }

  @media screen and (min-width: 1200px) {
    width: 60px;
    height: 65px;
  }
}

// button
  .btn.btn__buy-now {
    width: 152px;
    display: none;
        @media screen and (min-width: 768px) {
          display: flex;
        }
      }