.hero {
  position: relative;
  // height: 100vh;
  min-height: 500px;
  padding-top: 50px;
  background: var(--bcg-color-second);

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;

  @media screen and (min-width: 768px) {
    min-height: 415px;
    padding-top: 80px;
    // margin-top: 14px;
  }

  @media screen and (min-width: 1200px) {
    min-height: 664px;
    padding-top: 118px;
    // margin-top: 45px;
  }

  &__description {
    margin-bottom: 28px;

    @media screen and (max-width: 1199.98px) {
      width: 247px;
    }

    @media screen and (min-width: 1200px) {
      width: 367px;
    }
  }

  &__title {
    margin-bottom: 32px;
    font-family: 'Seymour One';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.26;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    @media screen and (min-width: 1200px) {
      font-size: 38px;
    }
  }

  &__list {
    position: absolute;
    top: 94px;
    right: 32px;
    display: flex;
    text-align: right;
    flex-direction: column;
    gap: 20px;

    @media screen and (max-width: 767.98px) {
      display: none;
    }

    @media screen and (min-width: 1200px) {
      gap: 16px;
      right: 16px;
      top: 126px;
    }
  }

  &__item {
    font-size: 14px;
    line-height: calc(17 / 14);

    @media screen and (min-width: 768px) {
      font-size: 8px;
      line-height: calc(10 / 8);
    }

    @media screen and (min-width: 1200px) {
      font-size: 14px;
      line-height: calc(17 / 14);
    }

    &--number {
      margin-bottom: 4px;

      @media screen and (min-width: 768px) {
        display: block;
        font-weight: 900;
        font-size: 28px;
        line-height: 1.21;
        letter-spacing: 0.04em;
        text-transform: uppercase;

        color: #131313;
      }

      @media screen and (min-width: 1200px) {
        font-size: 46;
      }
    }
  }

  &__buttons {
    display: flex;
    gap: 12px;

    @media screen and (min-width: 768px) and (max-width: 1199.98px) {
      gap: 16px;
    }
  }

  &__picture {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &__ice-cream-plate {
    @media screen and (max-width: 767.98px) {
      display: none;
    }
  }

  &__image-plate {
    position: absolute;
    left: 32px;
    bottom: 12px;

    @media screen and (max-width: 767.99px) {
      display: none;
    }

    @media screen and (min-width: 1200px) {
      left: 16px;
      bottom: 65px;
    }
  }

  &__ice-cream-plate-section {
    position: absolute;
    left: 216px;
    bottom: 24px;

    width: 150px;
    font-size: 12px;
    line-height: 1.4;

    @media screen and (max-width: 767.99px) {
      display: none;
    }

    @media screen and (min-width: 1200px) {
      left: 257px;
      bottom: 103px;
    }
  }

  &__ice-cream-plate-text {
    margin-bottom: 12px;
  }

  &__image-ice-cream-cone {
    position: absolute;
    bottom: 0;
    left: 83px;

    @media screen and (min-width: 768px) {
      left: 408px;
    }

    @media screen and (min-width: 1200px) {
      left: 652px;
    }
  }
}

.arrov-right {
  fill: currentColor;
}
