.reviews {
  padding-top: 80px;
  @media screen and (min-width: 768px) {
    padding-top: 100px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 140px;
  }

  //   outline: 2px solid rgb(255, 71, 172);
}
.revies__sliders {
  display: flex;
}

.reviews__thumb {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  border-color: transparent;
  background-size: contain;

  margin: 0 auto;
  overflow: hidden;
  //   outline: 2px solid rgb(255, 71, 172);
}
.reviews__img {
  display: block;
  margin: 0px;
  width: 100%;
  height: auto;
}
.reviews__comment--position {
  width: 100%;
  height: auto;
  padding: 39px 35px;
  margin: 32px auto;
  border-radius: 10px;
  @media screen and (min-width: 480px) {
    width: 280px;
  }
  @media screen and (min-width: 768px) {
    width: 705px;
    padding: 28px 80px;
    border-radius: 24px;
  }
  @media screen and (min-width: 1200px) {
    width: 968px;
    padding: 42px 74px;
    border-radius: 24px;
  }
  //   outline: 2px solid rgb(255, 71, 172);
}

.reviews__comment {
  background-color: var(--bcg-color-second);
  color: var(--text-color-primary);

  font-weight: 400;
  font-size: 12px;
  line-height: calc(31 / 12);
  /* or 31px */
  text-align: center;
  @media screen and (min-width: 768px) {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(26 / 14);
    /* or 26px */
    letter-spacing: 0.04em;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: calc(30 / 16);
    /* or 30px */
  }
}

.reviews__sign {
  margin: 0 auto;
  font-weight: 500;

  font-size: 20px;
  line-height: calc(37px / 20px);
  /* identical to box height, or 37px */
  text-align: center;
  color: var(--text-color-second);
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: calc(30 / 14);
    /* or 30px */
  }
}
.swiper {
  width: 100%;
  height: auto;
  // outline: 2px solid rgb(178, 255, 71);
}
.swiper-wrapper {
  margin-bottom: 30px;
}
.swiper-pagination-bullet {
  $color-disactive: rgba(217, 217, 217, 1);
  width: 10px;
  height: 10px;
  //перебиваю, тому що колір перебивається з зовнішньої бібліотеки
  background-color: $color-disactive !important;
}

.swiper-pagination-bullet-active {
  //перебиваю, тому що колір перебивається з зовнішньої бібліотеки
  background-color: var(--bcg-color-second) !important;
}

// //for slides
// /* Ограничивающая оболочка */
// .slick-list {
//   overflow: hidden;
// }
// /* Лента слайдов */
// .slick-track {
//   display: flex;
// }
// // /* Точки (булиты) */
// .slick-dots {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   margin-top: 32px;
// }
// .slick-dots li {
//   list-style: none;
//   margin: 0 10px;
// }
// // /* Активная точка */
// .slick-dots li.slick-active {
//   font-size: 0;
//   width: 10px;
//   height: 10px;
//   border-radius: 50%;
//   border-color: transparent;
//   background-color: var(--bcg-color-second);
// }
// .slick-dots li {
//   $color-disactive: rgba(217, 217, 217, 1);
//   font-size: 0;
//   width: 10px;
//   height: 10px;
//   border-radius: 50%;
//   border-color: transparent;
//   background-color: $color-disactive;
// }
// // /* Элемент точки */
// // .slick-dots li button {
// .slick-dots button {
//   font-size: 0;
//   width: 10px;
//   height: 10px;
//   border-radius: 50%;
//   border-color: transparent;
//   background-color: transparent;
//   //   background-color: $color-disactive;
// }

// // for slides
