:root {
  --bcg-color-primary: #817c7c;
  --bcg-color-second: #84a178;

  --text-color-primary: #fcfcfc;
  --text-color-second: #131313;
  --text-color-accent: #f8d24e;

  --text-color-contacts-adr: #d6936d;
  --text-color-contacts-time: #ababab;
  --text-color-footer: #7a7a7a;

  --btn-text-color-primary: #000000;
  --btn-text-color-second: #131313;
  --btn-bcg-color-default: #f8d24e;
  --btn-bcg-color-accent: #0a8817;
  --btn-bcg-color-disabled: #ababab;

  --modal-bcg-color-primary: #fcfcfc;
  --modal-bcg-color-second: #5b7275;
  --modal-bcg-color-product-card: #efd478;
  --modal-bcg-color-ingredients: #9cbe8f;
  --modal-border-color: #f8d24e;

  --socials-icon-color-default: #84a178;
  --socials-icon-color-accent: #fcfcfc;
  --socials-icon-bcg-color: #f8d24e;

  --animation-base: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --animation-color: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
