<div class="modal modal--franchise" data-modal="2">
  <button data-modal-close class="modal__button">
    <svg class="modal__cross js-modal-close" width="20px" height="20px">
      <use href="./images/icons.svg#icon-btn-close"></use>
    </svg>
  </button>

  <h2 class="modal__titles">
    Thank you for your interest in owning an Ice Cream shop
  </h2>

  <p class="modal__text">
    Due to the overwhelming volume of franchise requests we are not accepting new franchisee applications at this
    time. Once
    the application process resumes, we will contact you for further information. Please fill out the contact
    information
    below and we will reach out for additional information. We appreciate your patience.
  </p>

  <form class="modal__form">
    <ul class="modal__blank">
      <li>
        <input class="label" type="text" required placeholder="Name" 
        pattern="^[a-zA-Z]+\s[a-zA-Z]+$" title="Username must be two words separated by space.">
      </li>

      <li>
        <input class="label" type="tel" required placeholder="Phone" 
        pattern="[0-9]{10}" title="The minimum number of digits is 10">
      </li>

      <li>
        <input class="label" type="email" required placeholder="Email" 
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
      </li>

      <li><textarea class="textarea" name="Comment" placeholder="Comment"></textarea></li>
    </ul>

    <button class="button__modal btn__submit btn" type="submit">Submit</button>
  </form>
</div>