<div class="modal modal--made" data-modal="3">
    <button data-modal-close class="modal__button">
        <svg class="modal__cross js-modal-close" width="20px" height="20px">
            <use href="./images/icons.svg#icon-btn-close"></use>
        </svg>
    </button>

    <h2 class="modal__titles">
        How it’s made?
    </h2>

    <iframe src="https://www.youtube.com/embed/8WEMZ86Eho8" title="YouTube video player"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
    </iframe>

    <p class="modal__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et Lorem
        ipsum dolor
        sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
    </p>
</div>