<!-- modal window -->
<div class="modal modal--overflow" data-modal="5">
  <button
    data-modal-close
    type="button"
    class="btn__closed__product btn__closed"
    data-modal-close
  >
    <svg class="modal__cross js-modal-close" width="100%" height="100%">
      <use href="./images/icons.svg#icon-btn-close"></use>
    </svg>
  </button>
  <h1 class="modal-product__title">Buy now</h1>
  <div class="modal-product__container">
    <form class="product-list">
      <label for="product-ice-cream" class="product__label">
        <div class="product__thumb">
          <div class="product__gradient product__gradient--ice-cream"></div>
          <img
            class="product__img"
            srcset="
              ./images/modal-product/img-1_sm@1x.png 1x,
              ./images/modal-product/img-1_sm@2x.png 2x
            "
            src="./images/modal-product/img-1_sm@1x.png"
            alt="ice cream"
            loading="lazy"
          />
          <p class="product__text">ice cream</p>
          <input
            type="checkbox"
            name="checkbox-product"
            required
            id="product-ice-cream"
            class="checkbox__ice-cream product__checkbox"
          />
        </div>
      </label>
      <label for="product-ice-coffe" class="product__label">
        <div class="product__thumb">
          <div class="product__gradient product__gradient--ice-coffe"></div>
          <img
            class="product__img"
            srcset="
              ./images/modal-product/img-2_sm@1x.png 1x,
              ./images/modal-product/img-2_sm@2x.png 2x
            "
            src="./images/modal-product/img-2_sm@1x.png"
            alt="ice coffe"
            loading="lazy"
          />
          <p class="product__text">ice coffe</p>
          <input
            type="checkbox"
            name="checkbox-product"
            required
            id="product-ice-coffe"
            class="checkbox__ice-coffe product__checkbox"
          />
        </div>
      </label>
      <label for="product-milkshake" class="product__label">
        <div class="product__thumb">
          <div class="product__gradient product__gradient--milkshake"></div>
          <img
            class="product__img"
            srcset="
              ./images/modal-product/img-3_sm@1x.png 1x,
              ./images/modal-product/img-3_sm@2x.png 2x
            "
            src="./images/modal-product/img-3_sm@1x.png"
            alt="milkshake"
            loading="lazy"
          />
          <p class="product__text">milkshake</p>
          <input
            type="checkbox"
            name="checkbox-product"
            required
            id="product-milkshake"
            class="checkbox__milkshake product__checkbox"
          />
        </div>
      </label>
    </form>
  </div>
  <form class="form-product" autocomplete="on" action="">
    <label class="form-product__label" for="user-name">
      <input
        type="name"
        name="user_name"
        required
        class="form-product__input"
        id="user-name"
        placeholder="Name"
        pattern="^[a-zA-Z]+\s[a-zA-Z]+$"
      />
    </label>
    <label class="form-product__label" for="user-phone">
      <input
        type="tel"
        name="user_phone"
        required
        class="form-product__input"
        id="user-phone"
        placeholder="Phone"
        pattern="^[1-9]+$"
      />
    </label>
    <label class="form-product__label" for="user-comment">
      <textarea
        name="user_comments"
        id="user-comment"
        rows="3"
        class="form-product__input form-product__input--comment"
        placeholder="Comment"
        pattern="^[a-zA-Z]+$"
      ></textarea>
    </label>
  </form>
  <!-- Кнопка "Buy now" -->
  <button class="form-product__btn btn__submit btn" type="submit">
    Submit
  </button>
</div>
