<section class="advantages" id="advantages">
  <div class="advanteges-container">
    <h2 class="visibility-hidden">advantages</h2>
    <ul class="advantages-list list">
      <li class="advantages-list__item list">
        <h3 class="advantages-list__top-text">721</h3>
        <p class="advantages-list__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages-list__item">
        <h3 class="advantages-list__top-text">16kg</h3>
        <p class="advantages-list__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages-list__item">
        <h3 class="advantages-list__top-text">84</h3>
        <p class="advantages-list__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
