<!-- закриття мобільного меню  -->
<div class="menu-container js-menu-container" id="mobile-menu">
  <div class="mobile__menu_inside">
    <img
      class="header__logo"
      src="./images/header/logo.png"
      alt="logo"
      loading="lazy"
    />
    <button class="menu-toggle js-close-menu">
      <svg class="close__menu-icon" width="32px" height="32px">
        <use a href="./images/icons.svg#icon-btn-close"></use>
      </svg>
    </button>
  </div>
  <nav class="mobile__nav">
    <ul class="mobile__menu-list list">
      <li><a class="mobile__menu-link link" href="./">Home</a></li>
      <li>
        <a class="mobile__menu-link made link" href="">How it&apos;s made?</a>
      </li>
      <li><a class="mobile__menu-link link" href="">Our products</a></li>
      <li><a class="mobile__menu-link link" href="">Contact</a></li>
    </ul>
  </nav>
  <button class="mobile__menu-button" type="button">Buy now &gt;</button>
</div>
