<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.1.0/modern-normalize.css"
        integrity="sha512-Y0MM+V6ymRKN2zStTqzQ227DWhhp4Mzdo6gnlRnuaNCbc+YN/ZH0sBCLTM4M0oSy9c9VKiCvd4Jk44aCLrNS5Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="./css/main.min.css">
</head>

<body>
    <main>
        <section class="contacts">
            <div class="contacts__container container">
                <h2 class="contacts__title--hidden">Contacts</h2>
                <div class="contacts__block">
                    <div class="contacts__category">
                        <p class="contacts__block-title">CAFE</p>
                    </div>
                    <address class="contacts__address">
                        <p class="contacts__address-title">Chicago</p>
                        <a class="contacts__map-link link"
                            href="https://www.google.com/maps/place/10340+Ridgeland+Ave,+Chicago+Ridge,+IL+60415,+%D0%A1%D0%A8%D0%90/data=!4m2!3m1!1s0x880e39ad302b2c19:0xc808e9b14d04eb2b?sa=X&ved=2ahUKEwif16TXypD8AhUChP0HHbujCcUQ8gF6BAgIEAE">10340
                            Ridgeland Ave, Chicago Ridge, IL 60415, USA</a>
                    </address>
                    <div class="contacts__line"></div>
                    <ul class="contacts__schedule list">
                        <li class="contacts__schedule-item">
                            <p class="contacts__schedule-days">Monday - Friday</p>
                            <p class="contacts__schedule-time">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="contacts__schedule-item">
                            <p class="contacts__schedule-days">Saturday - Sunday</p>
                            <p class="contacts__schedule-time">08:00 AM - 16:00 PM</p>
                        </li>
                    </ul>
                    <div class="contacts__line"></div>
                    <ul class="contacts__phone-mail list">
                        <li class="contacts__phone-mail-item">
                            <a class="contacts__phone-mail-link link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                        </li>
                        <li class="contacts__phone-mail-item">
                            <a class="contacts__phone-mail-link link"
                                href="mailto:noreply@envato.com">noreply@envato.com</a>
                        </li>
                    </ul>
                </div>

                <div class="contacts__block">
                    <div class="contacts__category contacts__category--foodtruck">
                        <p class="contacts__block-title">FOODTRUCK</p>
                    </div>
                    <address class="contacts__address">
                        <p class="contacts__address-title">Los Angeles</p>
                        <a class="contacts__map-link link"
                            href="https://www.google.com/maps/place/1003+Manhattan+Ave,+Manhattan+Beach,+CA+90266,+%D0%A1%D0%A8%D0%90/data=!4m2!3m1!1s0x80c2b3eca6743829:0x98448969b9b4373d?sa=X&ved=2ahUKEwiPx7TLypD8AhXa97sIHdPfC0kQ8gF6BAgJEAE">1003
                            Manhattan Ave, Manhattan Beach, CA 90263, USA</a>
                    </address>
                    <div class="contacts__line"></div>
                    <ul class="contacts__schedule list">
                        <li class="contacts__schedule-item">
                            <p class="contacts__schedule-days">Monday - Friday</p>
                            <p class="contacts__schedule-time">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="contacts__schedule-item">
                            <p class="contacts__schedule-days">Saturday - Sunday</p>
                            <p class="contacts__schedule-time">08:00 AM - 16:00 PM</p>
                        </li>
                    </ul>
                    <div class="contacts__line"></div>
                    <ul class="contacts__phone-mail list">
                        <li class="contacts__phone-mail-item">
                            <a class="contacts__phone-mail-link link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                        </li>
                        <li class="contacts__phone-mail-item">
                            <a class="contacts__phone-mail-link link"
                                href="mailto:noreply@envato.com">noreply@envato.com</a>
                        </li>
                    </ul>
                </div>

                <div class="contacts__block">
                    <div class="contacts__category">
                        <p class="contacts__block-title">CAFE</p>
                    </div>
                    <address class="contacts__address">
                        <p class="contacts__address-title">New York</p>
                        <a class="contacts__map-link link"
                            href="https://www.google.com/maps/place/726+Sterling+Pl,+Brooklyn,+NY+11216,+%D0%A1%D0%A8%D0%90/data=!4m2!3m1!1s0x89c25b9e1735b38f:0xb5fe454b88e9c2c0?sa=X&ved=2ahUKEwja3eWHy5D8AhUQuaQKHRK7C08Q8gF6BAgMEAE">726
                            Sterling Pl, Brooklyn, NY 11222, USA</a>
                    </address>
                    <div class="contacts__line"></div>
                    <ul class="contacts__schedule list">
                        <li class="contacts__schedule-item">
                            <p class="contacts__schedule-days">Monday - Friday</p>
                            <p class="contacts__schedule-time">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="contacts__schedule-item">
                            <p class="contacts__schedule-days">Saturday - Sunday</p>
                            <p class="contacts__schedule-time">08:00 AM - 16:00 PM</p>
                        </li>
                    </ul>
                    <div class="contacts__line"></div>
                    <ul class="contacts__phone-mail list">
                        <li class="contacts__phone-mail-item">
                            <a class="contacts__phone-mail-link link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                        </li>
                        <li class="contacts__phone-mail-item">
                            <a class="contacts__phone-mail-link link"
                                href="mailto:noreply@envato.com">noreply@envato.com</a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </main>

</body>

</html>