<section class="contacts">
    <div class="contacts__container container">
        <h2 class="contacts__title visually-hidden">Contacts</h2>
        <ul class="contacts__card list">
            <li class="contacts__card-item">
                <p class="contacts__card-title">CAFE</p>
                <div class="contacts__location">
                    <p class="contacts__city">Chicago</p>
                    <address class="contacts__address">
                        <a class="contacts_map link"
                            href="https://www.google.com/maps/place/10340+Ridgeland+Ave,+Chicago+Ridge,+IL+60415,+%D0%A1%D0%A8%D0%90/data=!4m2!3m1!1s0x880e39ad302b2c19:0xc808e9b14d04eb2b?sa=X&ved=2ahUKEwiRnKKbgZL8AhUiMuwKHdIqBvkQ8gF6BAgIEAE">10340
                            Ridgeland Ave, Chicago Ridge, IL 60415, USA</a>
                    </address>
                </div>
                <div class="contacts__line"></div>
                <div class="contacts__schedule">
                    <ul class="list">
                        <li class="contacks-schedule-item">
                            <p class="contacts__days">Monday - Friday</p>
                            <p class="contacts__time">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="contacks-schedule-item">
                            <p class="contacts__days">Saturday - Sunday</p>
                            <p class="contacts__time">08:00 AM - 16:00 PM</p>
                        </li>
                    </ul>
                </div>
                <div class="contacts__line"></div>
                <div class="contacts__info">
                    <ul class="list">
                        <li class="contacts__info-item">
                            <a class="contacts__link link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                        </li>
                        <li class="contacts__info-item">
                            <a class="contacts__link link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="contacts__card-item">

                <p class="contacts__card-title contacts__card-title--foodtrack">FOODTRUCK</p>

                <div class="contacts__location">
                    <p class="contacts__city">Los Angeles</p>
                    <address>
                        <a class="contacts_map link"
                            href="https://www.google.com/maps/place/1003+Manhattan+Ave,+Manhattan+Beach,+CA+90266,+%D0%A1%D0%A8%D0%90/data=!4m2!3m1!1s0x80c2b3eca6743829:0x98448969b9b4373d?sa=X&ved=2ahUKEwjq0MXmg5L8AhXWh_0HHTSsAAoQ8gF6BAgJEAE">1003
                            Manhattan Ave, Manhattan Beach, CA 90263, USA</a>
                    </address>
                </div>
                <div class="contacts__line"></div>
                <div class="contacts__schedule">
                    <ul class="list">
                        <li class="contacks-schedule-item">
                            <p class="contacts__days">Monday - Friday</p>
                            <p class="contacts__time">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="contacks-schedule-item">
                            <p class="contacts__days">Saturday - Sunday</p>
                            <p class="contacts__time">08:00 AM - 16:00 PM</p>
                        </li>
                    </ul>
                </div>
                <div class="contacts__line"></div>
                <div class="contacts__info">
                    <ul class="list">
                        <li class="contacts__info-item">
                            <a class="contacts__link link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                        </li>
                        <li class="contacts__info-item">
                            <a class="contacts__link link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="contacts__card-item">

                <p class="contacts__card-title">CAFE</p>

                <div class="contacts__location">
                    <p class="contacts__city">New York</p>
                    <address>
                        <a class="contacts_map link"
                            href="https://www.google.com/maps/place/726+Sterling+Pl,+Brooklyn,+NY+11216,+%D0%A1%D0%A8%D0%90/data=!4m2!3m1!1s0x89c25b9e1735b38f:0xb5fe454b88e9c2c0?sa=X&ved=2ahUKEwiTxqq8t5L8AhUPNOwKHSyeDUEQ8gF6BAgMEAE">726
                            Sterling Pl, Brooklyn, NY 11222, USA</a>
                    </address>
                </div>
                <div class="contacts__line"></div>
                <div class="contacts__schedule">
                    <ul class="list">
                        <li class="contacks-schedule-item">
                            <p class="contacts__days">Monday - Friday</p>
                            <p class="contacts__time">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="contacks-schedule-item">
                            <p class="contacts__days">Saturday - Sunday</p>
                            <p class="contacts__time">08:00 AM - 16:00 PM</p>
                        </li>
                    </ul>
                </div>
                <div class="contacts__line"></div>
                <div class="contacts__info">
                    <ul class="list">
                        <li class="contacts__info-item">
                            <a class="contacts__link link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                        </li>
                        <li class="contacts__info-item">
                            <a class="contacts__link link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</section>