<section class="gallery">
  <div class="container">
    <h2 class="visually-hidden">Gallery</h2>
    <div class="gallery_list list">
      <img class="gallery_img" srcset="./images/gallery/brooke-lark@1x.jpg 1x, ./images/gallery/brooke-lark@2x.jpg 2x"
        src="./images/gallery/brooke-lark@1x.jpg" alt="blueberry ice cream" width="1013" loading="lazy">
      <img class="gallery_img" srcset="./images/gallery/unsplash@1x.jpg 1x, ./images/gallery/unsplash@2x.jpg 2x"
        src="./images/gallery/unsplash@1x.jpg" alt="cherry ice cream" width="1013" loading="lazy">
      <img class="gallery_img"
        srcset="./images/gallery/courtney-cook@1x.jpg 1x, ./images/gallery/courtney-cook@2x.jpg 2x"
        src="./images/gallery/courtney-cook@1x.jpg" alt="colorful ice cream" width="1013" loading="lazy">

    </div>
  </div>
</section>