<header class="header">
  <div class="container header__container">
    <!-- logo -->
    <img
      class="header__logo"
      src="./images/header/logo.png"
      alt="logo"
      loading="lazy"
    />

    <!--  основна навігація сайту -->
    <nav>
      <ul class="header__site-nav list">
        <li><a class="site-nav__link link" href="./">Home</a></li>
        <li>
          <a class="site-nav__link link" href="#howitsmade"
            >How it&apos;s made?</a
          >
        </li>
        <li>
          <a class="site-nav__link link" href="#products">Our products</a>
        </li>
        <li><a class="site-nav__link link" href="#contact">Contact</a></li>
      </ul>
    </nav>
    <!-- мобільне меню  -->
    <div class="header__menu">
      <button
        class="menu-toggle js-open-menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <svg class="open__menu-icon" width="32px" height="32px">
          <use href="./images/icons.svg#icon-menu-open"></use>
        </svg>
      </button>

      <button
        class="btn btn__buy-now js-open-modal"
        id="btn-header"
        data-modal="5"
        type="button"
      >
        Buy now &gt;
      </button>
    </div>
  </div>
</header>
