<container>
<header class="header container">
  <!-- logo -->
  <img class="header__logo" src="./images/header/Logo.png" alt="logo"/>

  <!-- основна навігація сайту -->
  <nav>
    <ul class="header__site-nav list " >
      <li><a class="site-nav__link link" href="">Home</a></li>
      <li><a class="site-nav__link link" href="">How it&apos;s made?</a></li>
      <li><a class="site-nav__link link" href="">Our products</a></li>
      <li><a class="site-nav__link link" href="">Contact</a></li>
    </ul>
  </nav>
    <!-- мобільне меню  -->
    <div class="header__menu">
  <button class="menu-toggle js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
    <svg width="32px" height="32px">
      <use href="./images/icons.svg#icon-menu-open"></use>
    </svg>
  </button>

  <button  class="header__button" type="button">Buy now &gt;</button>
</div>
</header>
</container>
<!-- закриття мобільного меню -->
<div class="menu-container js-menu-container" id="mobile-menu">
 <div class="mobile__menu_inside">
  <img class="header__logo" src="./images/header/Logo.png" alt="logo"/>
  <button class="menu-toggle js-close-menu">
    <svg class="close_menu-icon" width="32px" height="32px">
      <use a href="./images/icons.svg#icon-btn-close"></use>
    </svg>
  </button>
</div>
  <ul class="mobile__menu-list list">
    <li><a class="mobile__menu-link link" href="">Home</a></li>
    <li><a class="mobile__menu-link made link" href="">How it&apos;s made?</a></li>
    <li><a class="mobile__menu-link link" href="">Our products</a></li>
    <li><a class="mobile__menu-link link" href="">Contact</a></li>
  </ul>
  <button  class="mobile__menu-button" type="button">Buy now &gt;</button>
</div>
<script defer src="./js/mobile_menu.js"></script>
