<header class="header container">
  <!-- logo -->
  <img
    class="header__logo"
    src="./images/header/logo.png"
    alt="logo"
    loading="lazy"
  />

  <!--  основна навігація сайту -->
  <nav>
    <ul class="header__site-nav list">
      <li><a class="site-nav__link link" href="./">Home</a></li>
      <li><a class="site-nav__link link" href="">How it&apos;s made?</a></li>
      <li><a class="site-nav__link link" href="">Our products</a></li>
      <li><a class="site-nav__link link" href="">Contact</a></li>
    </ul>
  </nav>
  <!-- мобільне меню  -->
  <div class="header__menu">
    <button
      class="menu-toggle js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg class="open__menu-icon" width="32px" height="32px">
        <use href="./images/icons.svg#icon-menu-open"></use>
      </svg>
    </button>

    <button class="header__button" type="button">Buy now &gt;</button>
  </div>
</header>
