<section class="products">
<div class="container">
<h3 class="products-label">100% natural</h3>
<h2 class="products-caption">products</h2>
                <!--<button type="button" class="btn" data-modal-open>Замовити послугу</button>-->
                <ul class="list products-list">
                        <li class="products-one">
                                <h4 class="products-title">ice cream</h4>
                                <p class="products-info">Soft ice cream with a delicate taste. Made with milk, cream,
                                        sugar and natural stabilizer</p>
                        </li>
                        <li class="products-two">
                                <h4 class="products-title">ice coffee</h4>
                                <p class="products-info">Fragrant invigorating drink created from 100% natural
                                        ingredients without the use of preservatives and flavor enhancers</p>
                        </li>
                        <li class="products-three">
                                <h4 class="products-title">milkshakes</h4>
                                <p class="products-info">Sweet drinks based on milk and ice cream, supplemented with
                                        syrups, fruits, berries and other sweets of your choice</p>
                        </li>
                </ul>
        </div>
</section>