<section class="reviews container" id="reviews">
  <div class="swiper">
    <h2 class="visually-hidden">Reviews</h2>
    <div class="reviews__sliders swiper-wrapper">
      <div class="slide__item swiper-slide">
        <div class="reviews__thumb">
          <img class="reviews__img" srcset="
              ./images/reviews/pexels-elias-de-carvalho-1375849@1x.jpg 1x,
              ./images/reviews/pexels-elias-de-carvalho-1375849@2x.jpg 2x
            " src="./images/reviews/pexels-elias-de-carvalho-1375849@1x.jpg" alt="Girl" width="85" />
        </div>
        <div class="reviews__comment reviews__comment--position">
          <p>
            I love visiting your cafe. You prepare the most delicious ice cream
            in Los Angeles! In addition, you have beautiful serving, cozy
            atmosphere and polite staff.
          </p>
        </div>
        <div class="reviews__sign">
          <p>Emily, Los Angeles</p>
        </div>
      </div>
      <div class="slide__item swiper-slide">
        <div class="reviews__thumb">
          <img class="reviews__img" srcset="
              ./images/reviews/pexels-nappy-936000@1x.jpg 1x,
              ./images/reviews/pexels-nappy-936000@2x.jpg 2x
            " src="./images/reviews/pexels-nappy-936000@1x.jpg" alt="Guy  with ice cream" width="85" />
        </div>
        <div class="reviews__comment reviews__comment--position">
          <p>
            Every day we come to you with friends after classes in college. We
            love your ice cream and casual atmosphere!
          </p>
        </div>
        <div class="reviews__sign">
          <p>Bryan, New-York</p>
        </div>
      </div>
      <div class="slide__item swiper-slide">
        <div class="reviews__thumb">
          <img class="reviews__img" srcset="
              ./images/reviews/pexels-edu-carvalho-2295192@1x.jpg 1x,
              ./images/reviews/pexels-edu-carvalho-2295192@2x.jpg 2x
            " src="./images/reviews/pexels-edu-carvalho-2295192@1x.jpg" alt="Girl with ice cream" width="85" />
        </div>
        <div class="reviews__comment reviews__comment--position">
          <p>
            Ice cream is my passion! I love your chocolate hazelnut ice cream!
            And I really like the excellent service - always served politely and
            quickly!
          </p>
        </div>
        <div class="reviews__sign">
          <p>Diana, Chicago</p>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</section>